.egym-heading {
    padding: 2rem;
    text-align: center;
}

.egym-section {
    position: relative;
    padding: 1rem;
    margin-top: 1rem;

    &__icon {
        text-align: center;
        position: absolute;
        top: 1rem;
        left: 50%;
        margin-left: -3.125rem;

        &--style {
            width: 1em !important;
            background-color: $white;
            color: $primary;
            padding: 1.5rem;
            border: 1px solid $gray-400;
            border-radius: 50%;
        }
    }

    &__form {
        border: 1px solid $gray-400;
        margin-top: 3rem;
        padding: 5rem 3rem;
        border-radius: 0;

        &--input {
            height: calc(2em + 1rem + 2px);
            font-size: $font-size-base * 1;
            border: none;
            border-bottom: 1px solid $primary;
            border-radius: 0;
        }

        &--icon {
            border-radius: 0;
            background-color: $white;
            border: none;
        }

        &--color { color: $primary }

        &--action { text-align: right; }

        &--action-submit {
            font-size: $font-size-base;
            padding: .6rem 1.5rem;
            border-radius: 0;
        }
    }

    &--short-menu {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: $rfs-base-font-size + 1;
        margin-top: .5rem;
    }
}