.content {
  padding: 2rem;
  padding-top: 3rem;
  padding-left: 0;
}

.btn {
  border-radius: 0;

  &:hover {
    background-color: $secondary;
    border-color: $gray-300;
    color: $gray-500;
  }
}

.profile-view {
  &__section {
    border: none;

    &--header {
      border-bottom: 1px solid $primary;
    }
  }
}

.egym-section {
  &__view-toggle {
    &--icon {
      color: $white;
      margin-left: .1rem;
    }
  }
}

.mapboxgl-popup-close-button {
  z-index: 100;
}