.egym-sidebar-profile {
  border: 1px solid $gray-400;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;

  &__avatar {
    border: 2px solid $gray-400;
	  margin-bottom: 1rem;
  }

  &__username {
    margin-bottom: 1.5rem;
  }

  &__logout {
    background-color: $gray-400;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    padding: .3rem .8rem;

    &:hover {
      background-color: $white;
      color: $gray-600;
    }
  }

  &__view-profile {
    font-size: 1rem;
    background-color: $gray-400;
    color: $white;
    margin-right: .5rem;
    padding: .3rem .8rem;

    &:hover {
      text-decoration: none;
      color: $gray-600;
    }
  }
}

.egym-sidebar-menu {
  border: 1px solid $gray-400;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  height: 100vh;

  &__header {
    padding: 1.2rem;
    font-weight: 700;
    background-color: $gray-100;
    margin: 0;
  }

  &__item {
    padding: 1rem;
    border-bottom: 1px solid $gray-200;
    color: $gray-500;
    padding-left: 1.5rem;

    &:hover {
      background-color: $secondary;
    }
  }

  &__active {
    background-color: $primary;
    color: $white;
  }
}